:root {
  --color-text: #111;
  --color-muted: #666;
  --color-surface: #ffffff;
  --bg: #f8f9fb;
}

.dark {
  --color-text: #f5f5f5;
  --color-muted: #aaa;
  --color-surface: #1c1c1c;
  --bg: #111;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  transition: 0.2s;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}