body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f9f9f9;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-weight: 500;
}
button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}